@font-face {
  font-family: "marydale_bold";
  src: url("../fonts/Marydale-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  background: grey;
  font-family: "marydale_bold", sans-serif;
}

.Poster {
  background-image: url("../SVG/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  aspect-ratio: 0.71;
  position: relative;
  overflow: hidden;
}
.Poster__content {
  margin-left: 30px;
  margin-top: 20px;
}
.Poster__top {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #005ba7;
  margin: 3px;
  line-height: normal;
  width: 250px;
  font-size: 1.2rem;
}
.Poster__top .green-text {
  color: green;
}
.Poster__text {
  font-size: 0.6rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 250px;
}

.Poster__moon-text {
  display: flex;
}

.Poster__moon-text img {
  width: 150px;
  margin-left: 30px;
  margin-bottom: 40px;
  animation: moonSpin 8s infinite;
}

.Poster__moon-text p {
  margin: 0;
  color: white;
  font-size: small;
}

.Poster__moon-desc {
  margin-top: 60px;
}
.Poster__car-and-text{
  display: fleX;
  justify-content: flex-start;
}
.Poster__trip-text{
  width: 150px; /* Adjust width as necessary */
  margin-top: 40px;
}
.Poster__car{
  width: 80px;
}

/*bottom part*/

.bottom-part {
  display: flex;
}

.cat-face {
  width: 100px;
  height: 100px;
  background-color: #ffcc99;
  border-radius: 50%;
  position: relative;
}

.eye {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

.eye::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
}

.eye.left {
  left: 20px;
}

.eye.right {
  right: 20px;
}

.nose {
  width: 10px;
  height: 10px;
  background-color: #cc6666;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 45px;
}

.tiktok-kids {
  width: 300px;
}

/*qr code*/

.QR-code {
  width: 50px;
  margin-left: 10px;
  margin-top: 40px;
}

/*footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer__white {
  background-color: white;
  height: 10px;
  display: flex;
}

.footer__white p{
  font-size: 2.7px;
  word-wrap: break-word;
  margin-left: 30px;
  margin-right: 30px;
}

.footer__blue {
  height: 25px;
  padding-top: 5px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item-1 {
  width: 150px;
  margin-left: 30px;
  animation: tiltLogo 3s infinite;
}

.footer__item-2 {
  font-size: 0.4rem;
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.footer__item-2 p {
  margin: 0;
}

.footer__item-3 {
  font-size: 0.5rem;
  margin-right: 30px;
  color: white;
}

@keyframes tiltLogo {
  0% {
    transform: rotate(0deg);
  }
  
  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes moonSpin {
  0% {
    transform: rotate(0deg) translateX(50px);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg) translateX(50px);
    transform-origin: 50% 50%;
  }
}
