@font-face {
  font-family: "marydale_bold";
  src: url("../fonts/Marydale-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  background: grey;
  font-family: "marydale_bold", sans-serif;
}

// keyframes that tilt the ntnu logo
@keyframes tiltLogo {
  0% {
    transform: rotate(0deg);
  }
  

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes floatUpAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); // Adjust this value to control the movement distance
  }
}


.Poster {
  background-image: url("../SVG/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  aspect-ratio: 0.71;
  position: relative;
  overflow: hidden;

  &__content {
    margin-left: 30px;
    margin-top: 20px;
  }

  &__top, {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #005ba7;
    margin: 3px;
    line-height: normal;

    .green-text {
      color: green;
    }
  }
  
  &__text {
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__moon-text {
    display: flex;
    
  &__trip-text{
      width: 30vw;
    }

    
    img {
      width: 150px;
      margin-left: 30px;
      margin-bottom: 40px;
    }


  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  &__white {
    background-color: white;
    height: 10px;
  }

  &__blue {
    background-color: blue
    height: 25px;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item-1 {
      width: 150px;
      margin-left: 30px;
      animation:  2s infinite;
    }

    &__item-2 {
      font-size: 0.3rem;
      color: white;
      display: flex;
      justify-content: end;
      p {
        margin: 0;
      }
    }

    &__item-3 {
      font-size: 0.3rem;
      margin-right: 30px;
      color: white;
    }
  }
}

